# package directories
src/api/node_modules
src/api_2/node_modules
src/api_3/node_modules
tst/mocha/node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# Custom
*nodejs.zip

# Local API access credentials
*local-credentials